{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'german/custom.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  <link rel="icon" type="image/png" href="{% static "german/Logo.jpg" %}">

  <title>German</title>
</head>

<body>

  <nav id="topNav" class="navbar navbar-expand-md navbar-light" style="background-color:indianred">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static "german/Logo.jpg" %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        <span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Learn german</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="dropdown">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: indianred;color: black;">
                Blogs
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'germanblogs' %}" target="_self" style="font-size: smaller;">View</a>
                {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'createblog' %}" target="_self" style="font-size: smaller;">Create</a>
                {% endif %}
                <!-- <a class="dropdown-item" href="#">Link 3</a> -->
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dictionary' %}" target="_self" style="font-size: medium;">Dictionary</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: indianred;color: black;">
                Quiz
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'artikelquiz' %}" target="_self" style="font-size: smaller;">Artikel quiz</a>
                <a class="dropdown-item" href="{% url 'wordquiz' %}" target="_self" style="font-size: smaller;">Word quiz</a>
                <!-- <a class="dropdown-item" href="#">Link 3</a> -->
              </div>
            </div>
            <!-- <a class="nav-link" href="{% url 'artikelquiz' %}" target="_self">Artikel quiz</a> -->
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: indianred;">
                  {% if user.username == "ranjithrajasimha" %}
                  <img src="{% static 'german/ranjith.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="{{ user.username }}">
                  {% elif user.username == "rinee" %}
                  <img src="{% static 'german/rinee-shirke.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="{{ user.username }}">
                  {% endif %}
                </button>
              <div class="dropdown-menu">
                <a href="#" onclick="$('#signOutBtn').click()" class="dropdown-item" style="font-size:medium;">Logout</a>
                <form style='display:none;' method="POST" action="{% url 'logoutuser' %}">
                    {% csrf_token %}
                    <button id="signOutBtn" type="submit">Logout</button>
                </form>
              </div>
            </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'loginpage' %}" style="font-size:medium;">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
