{% extends "german/base.html" %}

{% block content %}

<head>
    <title>Create</title>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Neue Beschreibung</h2>
        </div>
    </div>
</head>
<body>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title">
                </div>
                <!-- <div class="form-group">
                    <label for="specialletters">Special letters: ä ö ü ß</label>
                </div> -->
                <div class="form-group">
                    <label for="description">Description (ä ö ü ß)</label>
                    <textarea name="description" class="form-control" rows="6" id="description"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-group" for="created_by">Created By:</label>
                    <select name="created_by" id="created_by">
                        <option value='Ranjith'>Ranjith</option>
                        <option value='Rinee'>Rinee</option>
                    </select><br>
                </div>
                <button type="submit" class="btn" style="background-color: indianred;color: white;">Save</button>
                <a role="button" href="{% url 'germanblogs' %}" class="btn" style="background-color: indianred;color: white;">Back</a>
            </form>
        </div>
    </div>
</body>

{% endblock %}