{% extends "german/base.html" %}

{% block content %}
<head>
    <title>Dictionary</title>
    <div class="row justify-content-center mt-5">
    <h2>Dictionary</h2>
    </div>
</head>
<style>
    e { 
        color: darkgreen;
        font-size: larger;
     }
    g { color: darkblue; 
        font-size: larger;
    }
</style>

<br>
<br>
<br>

<body>

<div class="card-columns">
{% for noun in nouns %}
    <div class="card" style="border-width: 0px;">
    <g>{{ noun.artikel }}
    {{ noun.name }}</g>
    <e> : {{ noun.meaning }}</e>
    </div>
{% endfor %}
</div>


</body>

{% endblock %}
