{% extends "german/base.html" %}

{% block content %}

<head>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Edit Blog</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title" value="{{ blog.title }}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" rows="6" class="form-control" id="description">{{ blog.description }}</textarea>
                </div>
                <div class="form-group">
                    <label class="form-group" for="created_by">Created By:</label>
                    <select name="created_by" id="created_by">
                        <option value='Ranjith'>Ranjith</option>
                        <option value='Rinee'>Rinee</option>
                    </select><br>
                </div>
                <a role="button" href="{% url 'detailblog' blog.id %}" class="btn" style="background-color: indianred;color: white;">Back</a>
                <button type="submit" class="btn" style="background-color: indianred;color: white;">Save</button>
            </form>
        </div>
    </div>
</head>


{% endblock %}